.html .footer {
  margin-top:0;
  background: #1b1b1b;
  p, a, span {
    color: #ccc;
  }
  a {
    &:hover {
      background-color: inherit;
    }
  }
  .footer-left {
    h2 {
      color:#a9a9a9;
      font-weight: 700;
      line-height: 1.1;
    }
  }
  .footer-right {
    h3 {
      color: #fff
    }
    li {
      padding: 5px 15px;
      a {
        padding: 0;
      }
    }
    .region-footer-right {
      > section {
        width: 32%;
        float: left;
      }
      > section {
        &:first-child,
        &:last-child {
          margin-left: 30px;
        }
      }
      > section:last-child {
        clear:both;
        width: 65%;
      }
    }
  }
  img {
    max-width: 100%;
  }
  .contact-us {
    padding-left: 0;
    li {
      margin-top: 5px;
      i {
        width: 28px;
        height: 28px;
        border-radius: 28px;
        background: #676767;
        text-align: center;
        line-height: 28px;
        margin-right: 15px;
        display: inline-block;
        float: left;
      }
    }

  }
  ul,ol {
    list-style: none;
  }
  .footer-bottom .region {
    padding: 19px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 8px
  }
  &:before {
    background-size: cover;
    opacity: 0.25;
    background: url("../images/misc/footer-background.jpg") no-repeat left 0;
  }
}