
@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/roboto-condensed/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2') format("woff2"),
       url('../fonts/roboto-condensed/b9QBgL0iMZfDSpmcXcE8nHm2hrkyco9jQ3NKMXpgOBg.woff2') format("woff2"),
       url('../fonts/roboto-condensed/RobotoCondensed-Regular.ttf') format('ttf');
}
html body  {
  font-family: Roboto Condensed, sans-serif;
  color: #666;
}

html .front .main-container.container-fluid {
  section{
    padding: 0;
  }
}
body {
  max-width: 1308px;
  .page-header  {
    margin: 40px 0 20px
  }
}
.front .panels-flexible-1 .panels-flexible-region {
  width: 100%;
}

.front .panels-flexible-row.Header {
  display: none;
}

.front h3.pane-title {
    text-align: center;
    font-size: 26px;
    margin: 0 0 10px;
    padding: 0 20px;
}


.add-to-cart{
  background: url(../images/misc/icon-cart.png) no-repeat 15px center;
  color: #666;
  font-size: 16px;
  padding: 7px 15px 7px 39px;
  margin: 0 4px;
  border-radius: 3px;
  border-color: #ccc;
  > span {
    display: none;
  }
  &:hover {
    color: #fff;
    background: $factoryred url(../images/misc/icon-cart-over.png) no-repeat 15px center;
    border-color: $factoryred;
  }
}
div.messages.commerce-add-to-cart-confirmation {
  z-index: 999;
}

