.commerce-product-field-field-image {
  .cloud-zoom-container {
    padding: 20px;
    #wrap  {
      float: none !important;
    }
    .cloud-zoom-gallery-thumbs {
       > a {
         margin-bottom: 5px;
         display: inline-block;
       }
      width: 25%;
      text-align: center;
    }
    @include clearfix()
  }
  .flex-viewport {
    clear: both;
    margin: 20px auto;
    width: 400px;
  }
  .flex-direction-nav {
    a {
      top: 92%;
      opacity: 1;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      &.flex-prev {
        left: -5px;
        background-position: -36px 0px;
        &:hover{
          background-position: 0px 0px;
        }
      }
      &.flex-next {
        right: -5px;
        background-position: -70px 0px;
        &:hover{
          background-position: -108px 0px;
        }
        text-align: inherit;
      }
      &:before {
        content: " ";
      }
      background: url('../images/misc/next-prev-detail.png');
      background-repeat: no-repeat;
      text-indent: -999px;
      width: 30px;
      height: 30px;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      &:hover {
        border-color: $factoryred;
        background-color: $factoryred;
      }
    }
  }
  #cloud-zoom-gallery-thumnail-flexlider {
    margin-bottom: 60px;
    position: relative;
    .img-responsive {
        margin: auto ;
    }
    div#cloud-zoom-big {
      width: 420px !important;
      background-repeat: no-repeat;
    }
  }
}

.node-type-product-display {
  .node-product-display {
    div.col-sm-7 > div {
      margin-top: 1em;
    }

    .field-name-body {
      width: 80%
    }
  }
  h1.page-header {
    margin-top: 1em;
  }

  .field-commerce-price {
    .field-item {
       color: $factoryred;
       font-size: 2em;
       font-weight: 300;
    }
  }
  .commerce-add-to-cart {
    select,input {
      width: auto;
    }
  }
}